@model CodeChallenge.Models.ChallengeData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Data</title>
</head>
<body>
<div>

    @Model.Name
    @Model.Weekday
    @Model.Color
</div>
</body>
</html>