@model CodeChallenge.Models.ChallengeData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @Model.Name
    @Model.Weekday
</div>
</body>
</html>